{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Пекарня Два пекаря предлагает вам окунуться в атмосферу вкусной еды и прохладных напитков.
Если запах свежеиспеченного теста пробуждает в вас сильный голод, то наше заведение сможет доставить вам радость. Помимо умопомрачительных ароматов вас ждет горячий кофе, чай, а также прохладительные напитки.</p>

<div>
    <img src="{% static 'app/content/L.png' %}" alt="L" width="800" height="500">
</div>
{% endblock %}
